/*-----------------------------------------------------------Mapping Page Main---------------------------------------------------------------------------*/
.App {
    text-align: center;
    display: grid;
    grid-template-columns: auto auto;
  }
  .App-header {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
  }
  /*---------------------------------------------------------------------------------------------------------------------------------------------------------*/
  
  
  /*-----------------------------------------------------------Drop down from data base---------------------------------------------------------------------*/
  .formItems{
    width: 400px;
    height: 50px;
    font-size: 20px;
    border-radius: 4px;
    background-color: #e6f3f7;
    color: #1da8d3;
    font-weight:bolder;
    margin: 10px 0px;
   
    justify-content: left;
  }
  .formItems:hover,#TempleteColumnSelect:hover,#FileColumnSelect:hover{
    border-color: #61dafb;
  }
  /*---------------------------------------------------------------------------------------------------------------------------------------------------------*/
  
  .dataMapping>div:nth-child(1){
    display: grid;
    grid-template-columns: auto auto;
  }
  .attachmnetInput{
      color: red;
    }
  input[type="file"]{
    display: none;
  }
  /*-----------------------------------------------------------Upload Attachmnet and Save Mapping Buttons----------------------------------------------------*/
  
  #uplodAttachmnetButton,#saveMappingButton,#AddColumnsButton,#DelColumnsButton{
    
    height: 50px;
    font-size: 20px;
    border-radius: 4px;
    background-color: #1da8d3;
    color: white;
    font-weight:bolder;
    border-color: seashell;
    margin: 10px 0px;
  }
  #DelColumnsButton{
    background-color: red ;
  }
  #saveMappingName{
    width: 600px;
    margin: 13px 0px;
    height: 43px;
    background-color: #e6f3f7;
    border: 1px solid grey;
    border-radius: 4px;
    
  }
  #uplodAttachmnetButton:hover{
    border-color: rgb(192, 190, 190);
  }
  #AddColumnsButton{
    width: 150px;
  }
  #uplodAttachmnetButton{width: 400px;}
  #saveMappingButton{width: 100px;}
  #uploadAttachmentLabel{
    width: 400px;
    height: 50px;
    font-size: 20px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e6f3f7;
    color: #1da8d3;
    font-weight:bolder;
    border-color: seashell;
    margin: 10px 0px;
  }
  /*--------------------------------------------------------------------------------------------------------------------------------------------------------*/
  
  label{
    font-size: 15px;
    
  }
  /*-----------------------------------------------------------Data Mapping Selector-------------------------------------------------------------------------*/
  .dataMapping{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
  }
  /*---------------------------------------------------------------------------------------------------------------------------------------------------------*/
  /*-----------------------------------------------------------Mapping Table Styling-------------------------------------------------------------------------*/
  .mappingTable>tr>th{
      border: 2px solid grey;
      border-radius: 5px;
      padding: 10px;
      color: white;
      background-color: teal;
      border-collapse: collapse;
      width: 0%;
  }
  .mappingTable>tr:nth-child(odd)>td{
    border: 2px solid black;
    border-radius: 5px;
    padding: 3px 10px;
    color: black;
    background-color: rgb(236, 228, 228);
    border-collapse: collapse;
  }
  .mappingTable>tr:nth-child(even)>td{
    border: 2px solid black;
    border-radius: 5px;
    padding: 3px 10px;
    color: black;
    background-color: rgb(243, 235, 235);
    border-collapse: collapse;
  }
  .mappingTable>tr>td{text-align: center;}
  #mappingTable{
    border-collapse: collapse;
    width: -webkit-fill-available;
  }
  
  #mappingSelect{
    border: 2px solid grey;
    padding: 20px;
    margin-bottom: 20px;
    border-collapse: collapse;
    
  }
  #mappingSelect>div{
    display: grid;
    grid-template-columns: auto auto;
    margin: 10px;
  }
  /*--------------------------------------------------------------------------------------------------------------------------------------------------------*/
  
    .mappingPage{
      display: grid;
      grid-template-columns: auto auto;
      margin: 5%;
    }
    .mappingNameAddAndSave{
      display: grid;
      grid-template-columns: 88% auto;
    }
    .mapSelectedDataTable{
      max-height: 329px;
      min-height: 20px;
      overflow-y: auto;
     
      
    }
  th{position: sticky;
  top: 0;}
  
  .mappingItems{
    display: grid;
    grid-template-columns: auto auto;
    border: 1px solid grey;
    
  }
  .mappingItems>div>div>label{
    margin: 0px 5%;
    font-family:Arial, Helvetica, sans-serif;
  }
  .mappingSelectorLabel{
    font-family:Arial, Helvetica, sans-serif;
    padding: 5px 41%;
    background: cornflowerblue;
  }
  .mappingSelectorLabel>label{
  font-size: 25px;
  color: white;
  
  }
  #TempleteColumnSelect,#FileColumnSelect{
    min-width: 200px;
    max-width: 200px;
    height: 50px;
    font-size: 20px;
    border: 1px solid black;
    border-radius: 4px;
    background-color: white;
    color: white;
    font-weight:bolder;
    margin: 10px 17%;
    color: #1da8d3;
  }
  