
pipenv shell  (enter envoirement shell)
pipenv install django djangorestframework djangorestframework-jwt django-cors-headers psycopg2 Pillow
python -m pip install Pillow
Add ("corsheaders" and "rest_framework") to installed apps

Add DB Settings 
DATABASES = {
    'default': {
        "ENGINE": 'django.db.backends.postgresql_psycopg2',
        "NAME": 'iproc20',
        "USER": 'postgres',
        "PASSWORD": 'admin',
        "HOST": '127.0.0.1',
        "PORT": '5432'
    }
}